<h3>Creat a new Product</h3>
<form  (ngSubmit)="creatProduct()" [formGroup]="product">
  <span>STT <input type="text" name="id_product"  formControlName="id" ></span>
  <br>
  <span>Name <input type="text" name="name_product" formControlName="name" ></span>
  <br>
  <span>Pirce<input type="text" name="price_product" formControlName="price" ></span>
  <br>
  <span>Description <input type="text" name="price_product" formControlName="description" ></span>

  <br>


  <br>

  <button type="submit">Submit</button>
</form>
